PORT=5001
NODE_ENV=development
DATABASE_URL=Url of a your database

CLERK_PUBLISHABLE_KEY=publishable key of your clerk 
CLERK_SECRET_KEY=secret key of your clerk

SENTRY_DSN=provide the dsn url without  quotation marks

STREAM_API_KEY=Api key of getstream.io
STREAM_API_SECRET=Api secret of getstream.io

IMAGEKIT_PUBLIC_KEY=public key of imagekit.io
IMAGEKIT_PRIVATE_KEY=private key of imagekit.io
IMAGEKIT_URL_ENDPOINT=endpoint url of imagekit.io